* {
	box-sizing: border-box;
	font-family: 'Capriola', sans-serif;
}

body {
	background-image: url("http://images.huffingtonpost.com/2015-03-27-1427496203-1352796-bigstockWoodenspoonandingredientso76325474.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	max-width: 100%;

}	

h1 {
	text-align: center;
}

.middle {
	display: block;
	margin-top: 30%;
}

#ingredients-form {
	text-align: center;
}

#user-ingredients {
	display: block;
	width: 75%;
	margin: 0 auto;
}

#results {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.recipe-card {
	width: 265px;
	margin: 20px;
	padding: 10px;
	background-color: green;
}

.recipe-card a {
	text-decoration: none;
	color: black;
}

.recipe-card h2 {
 	text-align: center;
}

.recipe-card p {
 	margin-left: 20px;
}

.recipe-image {
	display: block;
	margin: 0 auto;
	max-width: 95%;
	max-height: 200px;
}

.navigation {
	display: flex;
	justify-content: center;
}

.nav-button {
	width: 15%;
}
