* {
	box-sizing: border-box;
	font-family: 'Droid Sans', sans-serif;
}

html {
	background: url("https://i.imgur.com/68lLd7c.jpg") no-repeat center center fixed;
	background-blend-mode: lighten;
	background-size: cover;
}	

h1 {
	display: block;
	text-align: center;
	color: #ffc700;
	margin: 5px auto;
	text-shadow: -2px 2px black, 2px 2px black, -2px -2px black, 2px -2px black;
	font-family: 'Holtwood One SC', serif;
}

h3 {
	display: block;
	text-align: center;
	color: #ffc700;
	margin: 5px auto;
	margin-bottom: 20px;
	text-shadow: -1px 1px black, 1px 1px black, -1px -1px black, 1px -1px black;
	font-size: 25px;
}

.middle {
	display: block;
	margin-top: 20%;
	font-size: 25px;
}

#ingredients-form {
	text-align: center;
}

#user-ingredients {
	display: block;
	width: 75%;
	font-size: 20px;
	margin: 0 auto;
}

.input-button {
	color: black;
	font-size: 20px;
	margin-top: 20px;
	background-color: #ffc700;
	border: 3px double black;
  	border-top-color: black;
  	border-left-color: black;
	margin-bottom: 10px;
}

.input-button:hover {
	background-color: #dbab00;
	cursor: pointer;
}

#results {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.recipe-card {
	width: 285px;
	margin: 5px;
	padding: 10px;
	background-color: #ffdc63;
	border-radius: 10px;
}

.recipe-card a {
	text-decoration: none;
	color: black;
}

.recipe-card h2 {
 	text-align: center;
}

.recipe-card p {
 	margin-left: 20px;
}

.recipe-image {
	border: 2px solid black;
	display: block;
	margin: 0 auto;
    position: relative;
    width: 85%;
    height: 200px;
}

.recipe-supplies {
	text-align: center;
}

@media (max-width: 622px) {
  .recipe-card {
    width: 85%;
  }
